main {
    display: flex;
    align-items: center;
    justify-content: center;
}

main img {
    margin-top: 10%;
    height: 300px;
    border-radius: 30px;
}

main p {
    position: absolute;
    width: 50%;
    line-height: 2em;
    margin-top: 40%;
    font-size: 18px;
}

footer {
    position: relative;
    margin-bottom: 0%;
    margin-top: 30%;
    border: 0px solid;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

footer h3 {
    position: absolute;
}

footer p {
    position: absolute;
    left: 85%;
    top: 80%;
}